@charset "utf-8";
/* CSS Document */

img{ max-width:100%;}

/*Gallery*/
.gallery{background-color: rgba(33,33,33,1.00); align-items: center; padding-top: 50px}
.gallery a{cursor: zoom-in}

/*Gallery*/

.effect{background: url("../images/effect1.jpg") no-repeat; background-size: cover; background-attachment: fixed; height: 450px; background-position: center}
.effect h1{color: white; text-align: center; background-color: hsla(0,0%,0%,0.50); padding: 20px}
.effect h2{color: white; text-align: center; background-color: hsla(0,0%,0%,0.50); padding: 20px}

